container_commands:
    11-move-priv-key:
        command: "sudo mv ~root/.ssh/id_rsa ~root/.ssh/id_rsa.bak; sudo cp .ebextensions/id_rsa ~root/.ssh/id_rsa; sudo chmod 400 ~root/.ssh/id_rsa;"
    12-move-pub-key:
        command: "sudo mv ~root/.ssh/id_rsa.pub ~root/.ssh/id_rsa.pub.bak; sudo cp .ebextensions/id_rsa.pub ~root/.ssh/id_rsa.pub; sudo chmod 400 ~root/.ssh/id_rsa.pub;"
    12-known-hosts:
        command: "sudo mv ~root/.ssh/known_hosts ~root/.ssh/known_hosts.bak; sudo cp .ebextensions/known_hosts ~root/.ssh/known_hosts; sudo chmod 644 ~root/.ssh/known_hosts;"
